
.about-top-section {
    background-image: url('/images/about.png.jpg');
    background-size: cover; /* Makes sure the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 46rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.txt-about{
     display: flex; 
    flex-direction: column;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
}
.about-span{
    font-size: 2rem;
    color: var(--color-gray-100);
    font-weight: bolder;
}
.about-detail-span{
    font-size: 1.1rem;
    color: var(--color-gray-100);
    width: 36rem;
}

.below-top-about{
    margin-top: 7rem;
    display: flex;
    /* display: flex; */
    justify-content: space-around;
    /* align-items: center; */
    /* gap: 17rem; */
}



.img-container-about{
     width: 35rem;
}
.img-container-about img{
    width: 100%;
    height: 100%;
    border-radius: 60%;
    overflow: hidden;
    /* transform: skew(9deg); */
    /* transition: all 300ms ease-in; */
}
/* .img-container-about img:hover{
  transform: skew(0);
  cursor: pointer;
} */
.text-about-below{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.story{
    color: var(--color-gray-100);
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1.4rem;
}
.story-detail{
    color: var(--color-gray-100);
    font-size: 1.2rem;
    font-weight: 300;
    width: 33rem;
    line-height: 1.7rem;
    display: flex;
    gap: .3rem;
}
.story-detail svg{
    color: #ffb116;
    font-size: 1.5rem;
}
.below-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}



@media screen and (max-width:700px) {
    .below-top-about{
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center; 
    }
    .below-top-about-1{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-container-about img{
        width: 100%;
        height: 100%;
        border-radius: 70%;
        overflow: hidden;
        transform: none;
    }
}