
.program-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.top-program{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.svg-container-program{
    background: var(--color-gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 40%;
}
.svg-container-program svg{
    color: #ffb116;
    font-size: 2rem;
}
.top-program h2{
    font-size: 3.5rem;
    color: var(--color-gray-100);
}
.program-card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
}
.card-program{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 27rem;
    background: var(--color-gray-500);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 25rem;
    border: 2px solid transparent;
    border-radius: 0 3.5rem 0 3.5rem;
    transition: all 300ms ease-in;
}
.card-program:hover{
  background-color: transparent;
  border-color: var(--color-gray-400);
  cursor: pointer;
}


.card-svg-program{
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 40%;
}
.card-svg-program svg{
    color: var(--color-gray-100);
    font-size: 2rem;
}
.card-program-name{
    color: var(--color-gray-100);
    font-size: 1.4rem;
    font-weight:bold ;
}
.card-program-detail{
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--color-gray-100);
    width: 25rem;
}

/* From Uiverse.io by nikk7007 */ 
.button-program {
    --color: var(--color-primary);
    padding: 0.6em 1.4em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 1.4rem;
    border: 1px solid;
    font-family: inherit;
    /* text-transform: uppercase; */
    color: var(--color-primary);
    z-index: 1;
   }
   
   .button-program::before, .button-program::after {
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color-primary);
    transition: 1s ease;
   }
   
   .button-program::before {
    top: -1em;
    left: -1em;
   }
   
   .button-program::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button-program:hover::before, .button-program:hover::after {
    height: 40rem;
    width: 40rem;
   }
   
   .button-program:hover {
    color: rgb(10, 25, 30);
   }
   
   .button-program:active {
    filter: brightness(.8);
   }
   

@media screen and (max-width:1050px) {
    .program-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        place-items:center ;
      }
      .top-program{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
@media screen and (max-width:450px){
    .program-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 3rem;
        place-items:center ;
      }
}