
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container{
    display: flex;
    list-style: none;
    gap: 3.5rem;
}
.menu-container li{
    font-size: 1.8rem;
    font-weight: 500;
}
.logo-container img{
    width: 20rem;
}
li a{
    transition: all 300ms ease-in;
}
li a:hover{
    color: var(--color-secondary);
}

.active{
    position: relative;
}
.active::after{
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--color-primary);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 2.4rem;
}
.menu-mobile{
    font-size:3rem;
    color:white;
    display: none;
}
.close-mobile{
    font-size:4rem;
    color:white;
    position: absolute;
    right: 2.8rem;
    top: 1.7rem;
    display: none;
}




@media screen and (max-width:600px) {
    .menu-mobile{
        display: block;
    }
    .close-mobile{
   display: block;
    }
    .menu-container{
        position: absolute;
        background-color: rgba(18, 20, 104, 1);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 190px;
        width: 100vw;
       right: 0;
        z-index: 999;
        top: -190px;
        display: flex;
        gap: 2.5rem;
        flex-direction: column;
        justify-content: center;
      align-items: center;
      padding-top: 5rem;
      padding-bottom: 2rem;
      transition:all 300ms ease-in;
    }
    .menu-container.actave{
           top: 0;
    }
    .active::after{
        content: '';
        display: block;
        width: 0rem;
        height: 0rem;
        background-color: var(--color-primary);
        position: absolute;
        left: calc(50% - 0.6rem);
        transform: rotate(45deg);
        margin-top: 2.4rem;
    }
} 
