
.footer-container{
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.footer-logo-container img{
width: 13rem;
}
.footer-logo-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.logos-container{
    display: flex;
    gap: 1rem;
}
.footer-lorem{
    color: var(--color-gray-100);
    font-size: 1.1rem;
  width: 30rem;
}
.logo-1{
    height: 4rem;
    width: 4rem;
    background: var(--color-gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    cursor: pointer;
}
.logo-1 svg{
    font-size: 1.6rem;
    color: black;
}

.grid-contaiber{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}
.grid-1{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.grid-heading{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-gray-100);
}
.grid-text{
    font-size:1.2rem ;
    color: var(--color-gray-100);
}
.footer-copy-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: 2rem 0rem;
}
.footer-hr{
    margin-top: 6rem;
    width: 100%;
}
.reserves{
  color: var(--color-gray-100);
  font-size: 1.1rem;
}

@media screen and (max-width:700px) {
    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 6rem;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;
        padding-bottom: 5rem;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
}